@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Play&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700&family=Roboto:wght@700&display=swap");

@import "(/Sobre.css)";
@import "(/projetos.css)";
@import "(/Contato.css)";

body {
  background-color: #21242d;
  margin: 0;
  padding: 0;
  background-image: url("./assets/img/v627-aew-21-technologybackground.jpg");
  background-repeat: no-repeat;
}

.logo {
  max-width: 20%;
}

nav ul li {
  display: flex;
}
nav ul {
  display: flex;
  gap: 40px;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.5s;
  padding: 5px;
}
nav ul li a:hover {
  color: white;
  transition: 0.5s;
  background-color: #5971fc;
  transform: translateY(-10px);
  border-radius: 10px;
}

nav ul li a:focus {
  color: black;
}

.cabecalho {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Corpo do site */

.conteudo {
  display: flex;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  gap: px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  gap: 280px;
  margin-bottom: 100px;
}

.coluna-esquerda {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coluna-esquerda p {
  max-width: 50ch;
  text-align: center;
  font-size: 1.3rem;
}

.coluna-esquerda h1 {
  color: #5971fc;
  font-size: 2.3rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #29c0c0; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.coluna-direita {
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coluna-direita img {
  width: 350px;
  height: 350px;
}

.botao {
  display: flex;
  position: relative;
  max-width: 50%;
  justify-content: center;
}

.botao {
  position: absolute;
  top: 7px;
  left: 42%;
}

.botao {
  display: flex;
  position: relative;
  max-width: 100%;
  justify-content: center;
  width: 215px;
  height: 35px;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  /* background-color: #252f87; */
  background-color: #21242d;
  border: 2px solid #5971fc;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2rem;
  transform: translate(0);
  overflow: hidden;
  text-decoration: none;
  align-items: center;
}

.botao::before {
  content: "";
  position: absolute;
  background-color: #5971fc;
  width: 8px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(6px);
}
.botao:hover::before {
  left: calc(100% + 32px);
  transition: 0.75s;
}

.rodape {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 80px;
}
