@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Play&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700&family=Roboto:wght@700&display=swap");

body {
  background-color: #21242d;
  margin: 0;
  padding: 0;
  background-image: url("/assets/img/v627-aew-21-technologybackground.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.logo {
  max-width: 20%;
}

nav ul li {
  display: flex;
}
nav ul {
  display: flex;
  gap: 40px;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.5s;
  padding: 5px;
}
nav ul li a:hover {
  color: white;
  transition: 0.5s;
  background-color: #5971fc;
  transform: translateY(-10px);
  border-radius: 10px;
}

nav ul li a:focus {
  color: black;
}

.cabecalho {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* Corpo do site */

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
  font-size: 3rem;
}

.imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  max-width: 95%;
  margin-top: 50px;
  position: relative;
  left: 3.5%;
  transition-duration: 0.5s;
  align-items: center;
}
.imagens img {
  transition-duration: 0.8s;
}
.imagens img {
  width: 300px;
}

.imagens img:hover {
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  object-fit: contain;
  transition-duration: 0.5s;
}

.imagens a img {
  max-width: 90%;
  justify-content: center;
  border-radius: 10px;
}

.rodape {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 80px;
}
